.main-banner
  img(src="img/banner_2.jpg", alt="").main-banner__img
  .main-banner__content
    h2.main-banner__title I'm Deyvis, a Senior
    h2.main-banner__title Web Developer
    a.main-banner__button.button.secondary(href="#contact") Contact me
    a.main-banner__button.button.primary(href="#about-me") About me