footer.main-footer
  .main-footer__container.container#contact
    .main-footer__name Deyvis Valdez
    .main-footer__email deyvis.vh@gmail.com
    .main-footer__social-networks
      a(href="").icon-github.main-footer__icon
      a(href="").icon-twitter.main-footer__icon
      a(href="").icon-linkedin.main-footer__icon
      a(href="").icon-facebook.main-footer__icon