extends template/template

block main

  section.about-me.container#about-me
    figure.about-me__img-container
      img(src="img/developer.jpg", alt="Deyvis Valdez").about-me__image
    .about-me__content
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ex inventore ad nemo. Error ducimus.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ex inventore ad nemo. Error ducimus.
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, ex inventore ad nemo. Error ducimus.
      .about-me__follow
        | Follow me on:
        .about-me__social-networks
          a(href="#").icon-github
          a(href="#").icon-twitter
          a(href="#").icon-linkedin
          a(href="#").icon-facebook

  section.portfolio#work
    h2.portfolio__title My Projects
    .portfolio__work-items.container
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet dfh dfh dfhdfh.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
      article.work-item
        img.work-item__img(src="img/project.jpg", alt="")
        .work-item__description
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
          p.work-item__detail Lorem ipsum dolor sit amet.
